In [1]:
#contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#menampilkan tipe struktur data
type(T1)

tuple

In [3]:
#latihan 1
B1 = (1, "dua", True, 2+3j)
print("ini adalah tuple", B1)

ini adalah tuple (1, 'dua', True, (2+3j))

In [4]:
type(B1)

tuple

In [5]:
#sifat tuple
#terurut/ordered
T1[0:3]

(1, 'dua', True)

In [6]:
#tidak bisa diganti
T1[2] = "manusia"

TypeError: ignored

In [7]:
#dapat diindeks 
print("elemen kedua dari tuple T1 adalahL", T1[1])

elemen kedua dari tuple T1 adalahL dua

In [8]:
#dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [9]:
#mengabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

In [10]:
#latihan 2
B2 = (5, 3, True, 4)
B2

(5, 3, True, 4)

In [11]:
B3 = B1 + B2
B3

(1, 'dua', True, (2+3j), 5, 3, True, 4)