Konversi Sruktur Data

fungsi untuk mengubah/konversi struktur data:


1.   list() : untuk mengubah menjadi list
2.   tuple() : untuk mengubah menjadi tuple
2.   set() : untuk mengubah menjadi set
3.   dict() : untuk mengubah menjadi dictionary

Mengkonversi tipe data list :

In [1]:
# membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [2]:
#mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))
#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data tuple:

In [3]:
#membuat dua tuple 
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [4]:
#mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

Mnegkonversi tipe data set:

In [5]:
#membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [6]:
#mengkonversi struktur data set
k_list = list(S1)
K_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1: 8, 2: 5, 3: 6, 4: 7}

Mengkonversi tipe data list:

In [7]:
#membuat dictionary
D = {
    "nama": "Andi",
     "alamat": "Yogyakarta",
     "umur": 20
}

In [9]:
#mengkonversi struktur data dictionary dri key dan valuenya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'umur', 'alamat'}

Latihan

In [28]:
#lakukan konversi struktur data yang kalian buat pada notebook-notebook
#sebelumnya menjadi list, tuple, set, dan dictionary

#list
L3 = [2, 4, 6]
L4 = ["blue", "red", 46]

#tuple
t1 = (10, 2+3j, "red", True, 16)
t2 = (3, 4, 5, "satu")

#set
s1 = {"blue", "satu", True}
s2 = {10, 11, 2+3j}

#dictionary
data = {'benar': 1, 'salah': 0}

In [33]:

#mengkonversi struktur data list
k_tuple = tuple(L3)
k_set = set(L4)
#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)

(2, 4, 6)
{'blue', 'red', 46}

In [35]:
#mengkonversi struktur data tuple 
k_list = list(t1)
k_set = set(t2)
#melihat data yang telah dikonversi
print(k_list)
print(k_set)

[10, (2+3j), 'red', True, 16]
{3, 4, 5, 'satu'}

In [37]:
#mengkonversi struktur data set
k_list = list(s1)
K_tuple = tuple(s2)
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)

['blue', True, 'satu']
(2, 4, 6)

In [38]:
#mengkonversi struktur data dictionary dri key dan valuenya
k_list = list(data.keys())
k_tuple = tuple(data.values())
k_set = set(data.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['benar', 'salah']
(1, 0)
{'salah', 'benar'}